<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Message Details:</h1>
        <div>User: <%= message.messageuser %></div>
        <div>Message: <%= message.messagetext %></div>
        <div>Date Added: <%= message.date %></div>
        <br>
        <form action="/">
            <input type="submit" value="Back to Message Board">
        </form>
    </body>
</html>